<h2>Fishing Zone</h2>
<div>
  <h3>Current Fishing Zone</h3>
  <p>{{player.getFishingZone().name}}</p>
</div>
<div>
  <h3>Available Fish</h3>
  <div *ngFor='let fish of player.getFishingZone().fishTypes'>
    <p *ngIf='world.getFish(fish).hidden == false'>{{world.getFish(fish).displayedName}}</p>
  </div>
</div>
<div *ngIf='world.zonesAreRevealed' ngbDropdown class='d-inline-block'>
    <button class='btn btn-secondary' id="dropdownMenuButton" ngbDropdownToggle>Change Fishing Zone</button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
      <button *ngFor='let fishingZone of world.fishingZones' ngbDropdownItem (click)=changeFishingZone(fishingZone.name) [disabled]='!fishingZone.traversable'>{{fishingZone.displayedName}}</button>
    </div>
</div>